body{
    font-family: Arial;
    margin:0;
    background:#f4f6f9;
    text-align:center;
}

/* NAVBAR */

.navbar{
    background:#0a66c2;
    padding:15px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
    font-size:18px;
}

.navbar a:hover{
    color:red;
}

/* JOB CARDS */

.jobs{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.job{
    background:white;
    border-radius:10px;
    padding:20px;
    width:220px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.job:hover{
    transform:scale(1.05);
}

/* BUTTON */

button{
    background:#0a66c2;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#084b8a;
}

/* FORM */

form{
    background:white;
    width:300px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
    width:90%;
    padding:8px;
    margin:5px;
}

/* MOBILE */

@media screen and (max-width:600px){
    .jobs{
        flex-direction:column;
        align-items:center;
    }
}

.search{
    width:300px;
    padding:10px;
    border-radius:20px;
    border:1px solid gray;
    margin-top:10px;
}
.footer{
    background:#0a66c2;
    color:white;
    padding:15px;
    margin-top:40px;
}
.profile{
 background:white;
 width:300px;
 margin:auto;
 padding:20px;
 border-radius:10px;
 box-shadow:0 0 10px rgba(0,0,0,0.2);
}


